name: Deploy
description: Deploy
inputs:
  environment:
    description: "The environment to deploy to"
    required: true
  aws-key-id:
    description: "The AWS key to use"
    required: true
  aws-secret-access-key:
    description: "AWS secret access key to use"
    required: true
runs:
  using: composite
  steps:
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: "1.9.8"

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ inputs.aws-key-id }}
        aws-secret-access-key: ${{ inputs.aws-secret-access-key }}
        aws-region: eu-west-2
        mask-aws-account-id: true

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: "1.9.8"

    - name: Terraform init
      shell: bash
      working-directory: terraform
      run: |
        terraform init -backend-config="key=vpc/${{ inputs.environment }}.tfstate" -backend-config="bucket=nowplaying-${{ inputs.environment }}-terraform-state" -input=false

    - name: Deploy DynamoDB lock table if not exists
      shell: bash
      working-directory: terraform
      run: terraform apply -auto-approve -target=aws_dynamodb_table.dynamodb_terraform_lock

    - name: Terraform fmt -check
      shell: bash
      working-directory: terraform
      run: terraform fmt -check

    - name: Terraform validate
      shell: bash
      working-directory: terraform
      run: terraform validate

    - name: Build functions for Lambda
      shell: bash
      run: |
        docker run --rm \
          --platform linux/amd64 \
          -v "${{ github.workspace }}:/workspace" \
          -w /workspace \
          swift:6.1-amazonlinux2 \
          bash -c "swift build -c release --static-swift-stdlib && \
            cp .build/release/lambda .build/release/bootstrap && \
            chmod 755 .build/release/bootstrap && \
            mkdir -p .build/release/authorizer-package && \
            cp .build/release/authorizer .build/release/authorizer-package/bootstrap && \
            chmod 755 .build/release/authorizer-package/bootstrap"
        sudo chown -R $(id -u):$(id -g) .build

    - name: Terraform plan
      id: plan
      shell: bash
      working-directory: terraform
      run: terraform plan -no-color -out=tfplan -var="app_version=$VERSION" -var="git_sha=$GIT_SHA"

    - name: Terraform apply
      shell: bash
      working-directory: terraform
      run: terraform apply -auto-approve tfplan
